@model SflStucco.Site.Models.ContactUsModel

<div class="wpb_wrapper">
    <div class="vc_custom_heading style2 vc_custom_1438941801017">
        <h2 style="font-size: 30px; color: #333333; text-align: left">KEEP IN TOUCH</h2>
    </div>
    <div role="form" class="wpcf7" id="wpcf7-f222-p65-o1" lang="en-US" dir="ltr">
        <div class="screen-reader-response"></div>
        <div class="row dv-contact-form">
            <div class="col-md-3">
                <div>
                    <span class="wpcf7-form-control-wrap your-name">
                        @Html.TextBoxFor(model => model.Name, new { @class = "mb10 wpcf7-form-control wpcf7-text wpcf7-validates-as-required", @id = "name", @type = "text", @size = "40", @aria_required = "true", @aria_invalid = "false", @placeholder = "Your name" })
                    </span>
                </div>
                <div>
                    <span class="wpcf7-form-control-wrap your-address">
                        @Html.TextBoxFor(model => model.Address, new { @class = "mb10 wpcf7-form-control wpcf7-text wpcf7-validates-as-required", @id = "name", @type = "text", @size = "40", @aria_required = "true", @aria_invalid = "false", @placeholder = "Your address" })
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <span class="wpcf7-form-control-wrap your-email">
                        @Html.TextBoxFor(model => model.Email, new { @class = "mb10 wpcf7-form-control wpcf7-text wpcf7-validates-as-required", @id = "name", @type = "text", @size = "40", @aria_required = "true", @aria_invalid = "false", @placeholder = "Your email" })
                    </span>
                </div>
                <div>
                    <span class="wpcf7-form-control-wrap subject">
                        @Html.TextBoxFor(model => model.Subject, new { @class = "mb10 wpcf7-form-control wpcf7-text wpcf7-validates-as-required", @id = "name", @type = "text", @size = "40", @aria_required = "true", @aria_invalid = "false", @placeholder = "Your subject" })
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <span class="wpcf7-form-control-wrap your-message">
                        @Html.TextAreaFor(model => model.Message, new { @class = "mb10 wpcf7-form-control wpcf7-textarea", @name = "comment", @id = "comment", @cols = "40", @rows = "10", @aria_invalid = "false", @placeholder = "Your message" })
                    </span>
                </div>
                <div>
                    <input type="submit" value="Send" id="submit_contact">
                </div>
            </div>
        </div>
        <div class="row col-md-offset-2 dv-email-sent ">
            <div class="col-xs-6">
                <img src="~/Content/images/checkmark-256.png" />
            </div>
            <div class="col-xs-6 vcenter">
                <h3>Message sent!</h3>
            </div>
        </div>
    </div>
</div>